.legal{
    padding: $page_padding;

    &--answer{
        margin-top: 0;
        
    }

    &--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;

        div{
            width: 50%;
            margin: auto;
            text-align: center;
        }

        @media (min-width: 768px){
            flex-direction: row;
        }
    }

    &--text{
        display: inline;

        width: 550px;
    }    
    &--title{
        font-weight: 600;
        margin-bottom: 0;
    }

    &__info{
        text-align: center;
    }

}