// Couleurs principales
$primary: #EAEAEA; 
$primary-text: #1E1E1E; 
$accent-primary: #cb5527; 
$accent-secondary: #d67a55; 
$button-color: #FFFFFF; 
$border-color: #C0C0C0; 
$border-transparent: 1px solid transparent;

// Couleurs mode nuit
$night-primary: #121212; 
$night-primary-text: #F0F0F0; 
$night-accent-primary: #FF4F4F; 
$night-accent-secondary: #FF6F61; 
$night-button-bg: $night-accent-primary; 
$night-button-color: $night-primary-text; 
$night-border-color: #444444; 
$night-focus-border-color: #FF6F61; 

// Autres styles
$border-radius: 10px; 
$default-border: 1px solid;
$transition-border-bottom: border-bottom 1.5s;

$padding: 15px;
$page_padding: 20px;
$padding-elem: 5px 10px;

$form-padding: $padding;
$input-height: 40px;
$focus-border-color: $accent-primary; // Couleur de la bordure de focus
$button-bg: $accent-primary; // Couleur de fond des boutons
$button-hover-bg: $accent-secondary; // Couleur de fond au survol des boutons
