@import "../../styles/abstracts/variables.scss";

.works {
  &--list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    gap: 20px;

    @media (min-width: 1370px) {
      justify-content: left;
    }

    
  }

  &__card {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style: none;
    padding: $padding;
    border-radius: $border-radius;
    background-color: $button-color;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
      transform: scale(1.01); // Corrected syntax for transform
    }

    @media (min-width: 968px) {
      width: 30%;
      margin: 0;
    }
    
    

    &--heading {
      font-size: 25px;
      font-weight: 500;
      color: $accent-secondary;
      margin: 0;
      padding: $padding-elem;
    }

    &--cover {
      width: 100%;
      height: 190px;
      border-radius: calc($border-radius * 2);
      overflow: hidden; // Ensures image respects border radius

      // Styling for the cover image inside the div
      &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &--why {
      width: 100%;
      font-style: italic;
      margin: 10px 0;
    }

    &--tools {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin: auto;
      margin-top: 10px;
      align-items: baseline;
    }
  }
}

.tool {
  background-color: $accent-secondary;
  padding: $padding-elem;
  border-radius: $border-radius;
  color: $night-primary-text;
}
