@import "../../styles/abstracts/mixins.scss";
@import "../../styles/abstracts/variables.scss";

.home__languages{
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;

        li{
            padding: $padding-elem;
            color: $night-primary-text;
            background-color: $accent-primary;
            border-radius: $border-radius;
        }
    }
}